.version_id {
    font-size: 0.4em;
    color: white;
    opacity: 0.05;
    margin: 0 5px;
}

#drawer_content > hr {
    margin-top: 10px;
}

.disabled_hint {
    margin-left: 2px;
}

/* disabled buttons aren't properly styled by default */
.settings_input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

/* add a scrollbar to the popout */
#qmExtensionPopout {
    overflow: auto;
}

/* Dropdowns in a line of text */
select.inline_setting {
    margin: 0;
    padding: 0 5px;
    width: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    height: 1.2em;
    line-height: 1em;
}
/* text input in a line of text */
input.inline_setting     {
    margin: 0;
    padding: 0 0 0 5px;
    width: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    height: 1em;
}

/* buttons that need to grab your attention (Like the save button when there are unsaved changes) */
.button_highlight {
    color: var(--active);
}

/*
Div displaying the memory on a message.
By default, text is greyed to indicate that is it not injected.
*/
.qvink_memory_display {
    margin: 0 0 5px 0;
    font-size: small;
    font-style: italic;
    color: grey;
}

/* to style short-term memories. */
.qvink_memory_display.qvink_short_memory {
    color: seagreen;
}
/* to style long-term memories. */
.qvink_memory_display.qvink_long_memory {
    color: steelblue;
}
/* to style memories marked for long-term, but are past the context limit */
.qvink_memory_display.qvink_remember_memory {
    color: darkred;
}

/* to style memories that are force-excluded */
.qvink_memory_display.qvink_exclude_memory {
    color: #555;
}

/* Style the message buttons, separating them from the rest */
.qvink_memory_button_separator {
    margin: 0 1em;
}

/* memory edit text area needs a bit of negative top margin to fit right */
.qvink_memory_edit_textarea {
    margin-top: -6px;
}

/* on small screens, remove the button separator */
@media all and (max-width: 600px) {
    .qvink_memory_button_separator {
        display: none;
    }
}

/* make the ST extra button divs flex-wrap */
.extraMesButtons {
    flex-wrap: wrap;
}

/* the progress bar, mimicking the width of the main chat area */
.qvink_progress_bar {
    top: var(--topBarBlockSize);
    width: var(--sheldWidth);
    position: fixed;
    z-index: 999999;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

/* in the group member selection, the buttons that toggle summarization */
.qvink_memory_group_member_enable {
    transition: all 0.2s ease-in-out;
}
.qvink_memory_group_member_enable:not(.qvink_memory_group_member_enabled) {
    opacity: 0.4;
    filter: brightness(0.5);
}
.qvink_memory_group_member_enable.qvink_memory_group_member_enabled {
    filter: drop-shadow(0px 0px 5px rgb(65, 210, 243));
}
.qvink_memory_group_member_enable:hover {
    opacity: inherit;
    filter: drop-shadow(0px 0px 5px rgb(65, 210, 243));
}

