#qvink_memory_settings {
    display: flex;
    flex-direction: column;
}

#qvink_memory_settings textarea {
    font-size: calc(var(--mainFontSize) * 0.9);
    line-height: 1.2;
}

.main_settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.disabled_hint {
    margin-left: 2px;
}

/* add a scrollbar to the popout */
#qmExtensionPopout {
    overflow: auto;
}
