#qmemory_settings {
    display: flex;
    flex-direction: column;
}

#qmemory_settings textarea {
    font-size: calc(var(--mainFontSize) * 0.9);
    line-height: 1.2;
}

label[for="qmemory_frozen"],
label[for="qmemory_skipWIAN"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

label[for="qmemory_frozen"] input {
    margin-right: 10px;
}

.qmemory_contents_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.qmemory_disabled_hint {
    margin-left: 2px;
}

#qmSettingsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
